body {
	overflow-x: hidden;
}

.App {
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.controls {
	width: 200vw;
	display: flex;
}

.control {
	height: 20vh;
	width: 100vw;
	background-color: #fff;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
}

button {
	font-size: 25px;
	width: 100px;
	height: 50px;
}
