body {
	overflow-x: hidden;
}

.App {
	text-align: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: rgb(218, 218, 218);
}

.drawer {
	width: 100vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.result {
	width: 600px;
	height: 400px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.controls {
	width: 200vw;
	display: flex;
}

.panel {
	height: 20vh;
	width: 100vw;
	background-color: #fff;
}

.sizes {
	display: flex;
	justify-content: space-evenly;
}

.colors {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.buttons {
	display: flex;
	justify-content: space-evenly;
}

button {
	font-size: 25px;
	width: 100px;
	height: 50px;
}

.slider {
	width: 200px;
}
